*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img{
    height: 70px;
}
nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}


nav ul li a::after{
    content: "";
    height: 3px;
    background-color: crimson;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}




.icons{
    height: 70px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}   

.icons a:nth-child(1){
    color: blue;
}
.icons a:nth-child(2){
    color: purple;
}
.icons a:nth-child(3){
    color:green;
}



/* Hero Section */

.typing {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  width: 0;
  animation: typing 8s steps(30) infinite;
}

.typing span::before {
  color: crimson;
  content: "I am Frontend Developer";
  animation: changeText 8s infinite;
}

@keyframes typing {
  0%   { width: 0 }
  20%  { width: 27ch }
  40%  { width: 27ch }
  50%  { width: 0 }
  60%  { width: 0 }
  80%  { width: 26ch }
  100% { width: 26ch }
}

@keyframes changeText {
  0%,50% {
    content: "I am Frontend Developer";
  }
  51%,100% {
    content: "I am Backend Developer";
  }
}

.hero-container{
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.profile-outer{
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    height:400px;
    width: 400px;
    border-radius: 50%;
}
.profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.info-outer{
    height: 500px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-outer h1{
    font-size: 3rem;
}
.info-outer p{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
}



/* about */

#about h1{
    color:crimson;
    text-align: center;
    font-size: 3rem;
}

#about hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.about-text{
    margin: 30px auto;
    width: 80%;
    color: white;
    text-align: justify;
}

.about-text p{
    margin-top:15px ;
    font-size: 18px;
}

.about-text span{
    font-weight: bold;
    color: crimson;
}


.about-text ul{
    color: crimson;
    font-weight: bold;
    display: flex;
    gap: 30px;
    margin-left: 20px;
    font-size: 1.1rem;
}
#skills h1{
    color:crimson;
    text-align: center;
    font-size: 3rem;
}

#skills hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.skill-outer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;

}
.skillbox{
    height: 200px;
    /* width: 25%; */
   background: linear-gradient(45deg, crimson,blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.skillbox img{
    height: 60%;
    width: 70%;
    object-fit: contain;
    
}
.skillbox:hover{
    transform: translate(-7px);
}
.service{
   
    
    
}

    
